.App {
  /* text-align: center; */
}

.App-logo {
  height: 50px;
  padding: 10px;
  display: inline-block;
}

.App-header {
  background-color: #f13434;
  height: auto;
  padding: 1px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App-header > a {
  display: block;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.App-intro {
  font-size: large;
}

button {
  color: white;
  padding: 10px;
  margin: 10px;
  border: 0;
  background: none;
  -webkit-appearance: none;
  background-color: #f13434;
  border-radius: 5px;
  font-size: 1.125rem;
  cursor: pointer;
  transition: 300ms;
}
button:hover {
  border: 1px solid #f13434;
  color: #f13434;
  background-color: white;
}

.select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid var(--select-border);
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.25rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: rgb(110, 34, 34);
  background-image: linear-gradient(to top, #8f4c4c, #fff 33%);
}

.types {
  padding: 2rem 3rem;
  display: grid;
  grid-template-columns: 2fr 2fr;
  align-items: left;
  column-gap: 25px;
  margin: 25px;
  padding: 5px 50px 5px 90px;
  font-size: 50px;
}
