.App {
  /* text-align: center; */
}

.App-logo {
  height: 50px;
  padding: 10px;
  display: inline-block;
}

.App-header {
  background-color: #f13434;
  height: auto;
  padding: 1px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App-header > a {
  display: block;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.App-intro {
  font-size: large;
}
